<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input" class="form-label">Input</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Input keywords...">
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>